#about {
  margin: 0 auto;
  margin-top: 25px;
  padding: 25px;
  text-align: center;
  width: 400px;
  height: 100%;
  color: rgb(201, 192, 192);
  line-height: 1.5;
  background-color: rgb(49, 47, 47);
  border-radius: 20px;
}