.concert-results {
  color: white;
  margin-top: 50px;
  /* top: 40%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */

  /* margin: 250px;  
  margin-top: 650px; */
}

.tkmConcertList {
  list-style-type: none;
  padding: 50px;
  /* border-radius: 10px; */
  /* background: rgba(171, 230, 238, 0.5); */
}

.concert-results {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;

}