.concert-results {
  color: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.tkmConcertList {
  list-style-type: none;
  padding: 30px;
  text-align: center;

}

.concert-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid white;

}

#concert-name {
  max-width: 120px;
}