header {
  margin: 0 auto;
}


.nav-list-section {
  display: flex;
  justify-content: center;
}

.about-link, .search-link, .home-link {
  list-style-type: none;
  color: white;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}