header {
  margin: 0 auto;
}


.nav-list-section {
  display: flex;
  justify-content: center;
}

.about-link, .search-link, .home-link {
  color: white;
  padding: 10px;
}

 a {
   text-decoration: none;
   color: white;
 }