
#home {
  text-align: center;
  background-image: url('./images/veeterzy-98988-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 850px;

}

@media only screen and (min-height: 450px) and (max-height: 850px) {
  .button-main {
    margin-top: 0;
  
  }
  #home-title {
    margin-bottom: 0;
  }
}


#home-title {
  margin-top: 0;
  padding-top: 20px;  
  margin-bottom: 0;
  font-size: calc(80px + 1.5vw);
  color: white;
}

