/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(20, 20, 20); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #192630;
  margin: 10px auto; /* 10px from the top and centered */
  padding: 15px;
  border: 1px solid rgb(231, 225, 225);
  width: 80%; /* Could be more or less, depending on screen size */
  height: 85%;
}

.modal-content > h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#share-link-p {
  margin: 10px;
}

/* The Close Button */
.closeModal, .createEvent {
  margin-right: 10px;
  color: rgb(79, 81, 104);
  margin-left: 25px;
  display: block;
  margin: 0 auto;
  font-size: 1.3em;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-input {
  padding: 5px;
  text-align: center;
  font-size: 1.3em;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 400px) {
  .modal-content {
    margin: 30px auto;
  }
}

/* //special case for iPhone X landscape that has a wide screen and min height */

@media screen and (min-width: 700px) and (max-height: 375px) {
  .modal-content {
    margin: 20px auto; /* 15% from the top and centered */
  }

  .close-modal, .createEvent {
    display: block;
    margin-right: 10px;
    margin: 0 auto;

  }

}

/* large screens */
@media screen and (min-width: 700px) {
  .modal-content {
    margin: 10px auto; /* 15% from the top and centered */
  }

  .close-modal, .createEvent {
    margin-right: 10px;
    margin: 0 auto;

  }

}
