.attendee-edit {
  color: white;
  transition: all 2s ease;
}

#attendee-open-editor, #input-add-attendee {
  margin-top: 10px;
}

#attendee-label {
  font-size: 24px;
}

.attendee-edit-ul {
  padding: 0;
}

#input-add-attendee {
  padding: 5px;
  text-align: center;
  font-size: 1.3em;
  border-radius: 5px;
}

.attendee-transition-enter {
  opacity: 0.01;
}

.attendee-transition-leave {
  opacity: 1;
  transition: opacity 300ms ease-in;
}