#search-form {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 100px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: rgba(171, 230, 238, 0.5);  
  }

  .spinner {
    text-align: center;
    position: relative;
    left: 50%;
    margin-top: 10px;
  }

  .searchButton {
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:20px;
  }

  #search-input {
    margin: 20px;
    font-size: 1.3em;
    border-radius: 5px;
  }